@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 94%);
}
input {
  display: block;
}
.calculator {
  width: 100%;
  max-width: 650px;
  background-color: white;
  padding: 40px 60px;
  border-radius: 20px 20px 80px 20px;

}



.inputs{
  display: grid;
  grid-template-columns: 130px 130px 130px;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  padding-bottom: 35px;

}
.inputs input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid hsl(0, 0%, 94%);
  border-radius: 5px;
  font-weight: bold;
  font-size: 32px;
}
.inputs input.border{
  border-color: hsl(0, 100%, 67%);
}

.inputs .label {
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  color:  hsl(0, 1%, 44%);

}
.line {
  position: relative;
}
.line span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: hsl(0, 0%, 94%);
}
.line img {
  position: absolute;
  right: 0;
  top: -30px;
  cursor: pointer;
}
.error {
  display: none;
  font-size: 10px;
  font-style: italic;
  color: hsl(0, 100%, 67%);
}
p {
  font-size:65px ;
  font-style: italic;
  font-weight: 800;
  display: flex;
  align-items: center;
}
p span {
  color: hsl(259, 100%, 65%);
  position: relative;
  top: 6px;
  margin-right: 10px;
}
@media (max-width:600px){
  .inputs{
    grid-template-columns: 1fr 1fr 1fr;

  }
  #arrow {
    left: 50%;
    transform: translateX(-50%);
  }
  .line {
    margin-block: 30px;
  }
}

@media (max-width:490px){
  p {
    font-size:55px ;

  }

  .inputs input {
    font-size: 25px;
    padding: 5px;
  }
}
@media (max-width:400px){
  p {
    font-size:45px ;
  }
}